{% extends "network/layout.html" %}

{% load static %}

{% block script %} 
    <script src="{% static 'network/all_posts.js' %}"></script>
{% endblock %}

{% block body %}
<input type="hidden" id="current-user-id" value="{{ user.id }}">
<div class="mx-5">
    <h1 class="m-2">All Posts</h1>
    {% if user.is_authenticated %}
    <div id="new-post" class="card rounded container-fluid m-3 p-3">
        <form id="new-post-form">
                <label for="post-body" class="form-label, mb- h4">New Post</label>
                <textarea class="form-control pr-5"  id="post-body" rows="3"></textarea>
                <button id="post-btn" class="btn btn-primary mt-2 " value=>Post</button>
        </form>
    </div>
    {% endif %}

    <div id="posts-view">
    </div>
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item"><a id="previousBtn" class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a id="nextBtn" class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>    
</div>
{% endblock %}
