{% extends "network/layout.html" %}

{% load static %}

{% block script %} 
    <script src="{% static 'network/all_posts.js' %}"></script>
{% endblock %}

{% block body %}
<div class="mx-5">
    <h1 class="m-2">All Posts</h1>
    {% if user.is_authenticated %}
    <div id="new-post" class="card rounded container-fluid m-3 p-3">
        <form id="new-post-form">
                <label for="post-body" class="form-label, mb- h4">New Post</label>
                <textarea class="form-control pr-5"  id="post-body" rows="3"></textarea>
                <button id="post-btn" class="btn btn-primary mt-2">Post</button>
        </form>
    </div>
    {% endif %}

    <div id="posts-view">
    </div>
</div>
{% endblock %}
